{% extends "eadmin/includes/base.html" %}
{% load static %}

{% block title %}Ecommerce | Product{% endblock %}

{% block body_content %}
<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0 min_height600">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="/eadmin/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/product/view">Manage Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Add Product</h4>
      </div>
    </div>
    <div class="form-error"></div>
    <form method="POST" id="editProduct" autocomplete="off" accept-charset="utf-8" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <fieldset class="form-fieldset">
            <input type="hidden" name="product_id" id="product_id" value="{{ product_edit.id }}">
            <legend>General Information</legend>
            <div class="form-group">
              <label>Product Name<em>*</em></label>
              <input type="text" value="{{ product_edit.product_name }}" class="form-control" placeholder="Enter Product Name" name="product_name" id="product_name" required />
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="summernote" name="description" id="description" placeholder="Description">{{ product_edit.description }}</textarea>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Price <em>*</em></label>
                  <input type="text" value="{{ product_edit.price }}" class="form-control" placeholder="Enter Price" name="price" id="price" required />
                </div>
                <div class="col-md-6">
                  <label>Stock <em>*</em></label>
                  <input type="number" value="{{ product_edit.stock }}" class="form-control" placeholder="Enter Stock" name="stock" id="stock" required />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Available <em>*</em></label>
              <select class="form-control select2" name="draft_available" id="draft_available" required>
                <option value="1"{% if product_edit.draft_available == 1 %} selected{% endif %}>Available</option>
                <option value="0"{% if product_edit.draft_available == 0 %} selected{% endif %}>Not Available</option>
              </select>
            </div>
          </fieldset>
        </div>
      </div>
      <fieldset class="form-fieldset">
        <legend>Image Upload</legend>
        <div class="row">
          <div class="col-md-12">
            {% if product_edit.image == "" %}
            <div class="form-group">
              <label>Product Image<em>*</em></label>
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview fileupload-large thumbnail">
                  <img src="{% static 'eadmin/assets/img/file_upload_icon.jpg' %}" alt="Upload Icon">
                </div>
                <div>
                  <span class="btn btn-default btn-file">
                    <span class="fileupload-new">Select image</span>
                    <span class="fileupload-exists">Change</span>
                    <input type="file" id="image" name="image" />
                    <input type="hidden" name="imagecheck" id="imagecheck" value="0" />
                  </span>
                  <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
              </div>
              <div class="imgerr"></div>
            </div>
            {% else %}
            <div class="form-group">
              <label>Product Image</label>
              <input type="hidden" id="imagecheck" name="imagecheck" value="1" />
              <input type="hidden" id="img" name="img" value="" />
              <div class="customer_pic_edit">
                <img src="{{ product_edit.image.url }}" class="img-thumbnail" alt="Product Image">
                <button type="button" class="btn btn-danger removeProtImageIcon" data-type="image" data-item="{{ product_edit.image.url }}">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </fieldset>
      <div class="form_submit_footer">
        <div class="form_footer_contents">
          <div class="text-right m-b-0">
            <a href="/product/view" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block foot_script %}
<script>
  $("#editProduct").validate({
    rules: {
      product_name: { required: true },
      description: { required: true },
      price: { required: true, number: true },
      stock: { required: true, number: true },
      image: { required: true },
    },
    messages: {
      product_name: { required: "Please Enter Product Name" },
      description: { required: "Please Enter Description" },
      price: { required: "Please Enter Price", number: "Please Enter a Valid Price" },
      stock: { required: "Please Enter Stock", number: "Please Enter a Valid Stock Quantity" },
      image: { required: "Please Enter image"},
    },
    submitHandler: function(form) {
      var data = new FormData($(form)[0]);
      $.ajax({
        url: "{% url 'ajax_edit' product_edit.id %}",
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        method: "POST",
        dataType: "json",
        beforeSend: function() {
          $(".page_loading").show();
        },
        success: function(data) {
          $(".page_loading").hide();
          if (data.update_status === "Success") {
            swal("Updated Successfully", "", "success")
              { window.location.href = "/product/view"; };
          } else {
            swal("Update Failed", "", "error");
          }
        },
        error: function() {
          swal("Error", "An error occurred while processing your request.", "error");
        }
      });
      return false;
    }
  });

  $(".removeProtImageIcon").click(function() {
    var id = $(this).data("item");
    var image_type = $(this).data("type");
    var product_id = $("#product_id").val();
    swal({
      title: "Are you sure?",
      text: "You will not be able to recover this Image!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false,
      closeOnCancel: false
    }, function(isConfirm) {
      if (isConfirm) {
        $.ajax({
          headers: { "X-CSRFToken": csrftoken },
          type: "POST",
          url: '/product/remove-image/' + product_id,
          dataType: 'json',
          data: { 'image_type': image_type },
          beforeSend: function() {
            $(".page_loading").show();
          },
          success: function(data) {
            $(".page_loading").hide();
            if(data['update_status'] == "Success"){
                swal({
                    title: 'Remove Successfully',
                    showDenyButton: false,
                    showCancelButton: false,
                    confirmButtonText: `OK`,
                },function(result) {
                    if (result) {
                      window.location.href = "/product/edit/"+product_id;
                    }
                })
            }
          }
        });
      } else {
        swal("Cancelled", "Image retained", "error");
      }
    });
    return false;
  });
</script>
{% endblock %}
