<!DOCTYPE html>
<html lang="en">
    
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Ecommerce Management">
    <meta name="author" content="Ecommerce Management">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'eadmin/assets/img/favicon.png' %}">
    <title>Ecommerce Management | Login</title>
    <!-- vendor css -->
    <link href="{% static 'eadmin/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <link href="{% static 'eadmin/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static 'eadmin/assets/css/dashforge.css' %}">
    <link rel="stylesheet" href="{% static 'eadmin/assets/css/dashforge.auth.css' %}">
    <link rel="stylesheet" href="{% static 'eadmin/assets/css/custome.css' %}">
    <style >
        .none{
            display: none;
        }
    </style>
</head>

<body>
    <div class="content content-fixed content-auth">
        <div class="container">
            <div class="media align-items-stretch justify-content-center ht-100p">
                <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
                    <div class="pd-t-20 wd-100p">
                        <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                        <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                        <div class="form-error alert alert-danger none"></div>
                        <form action="/eadmin/ajax-check" method="POST" id="adminLogin" accept-charset="utf-8" autocomplete="off">
                            {% csrf_token %}
                            {% if messages %}
                            <div class="span12">
                                {% for message in messages %}
                                    <div style="color: red">
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mg-b-5">
                                    <label class="mg-b-0-f">Password</label>
                                </div>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
                            </div>
                            <button class="btn btn-brand-02 btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div><!-- sign-wrapper -->
            </div><!-- media -->
        </div><!-- container -->
    </div><!-- content -->
    <script src="{% static 'eadmin/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'eadmin/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'eadmin/lib/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'eadmin/lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'eadmin/assets/js/dashforge.js' %}"></script>
    <script src="{% static 'eadmin/lib/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'eadmin/assets/js/dashforge.settings.js' %}"></script>
    <script src="{% static 'eadmin/assets/js/validate.min.js' %}"></script>
    <script>
    $("#adminLogin").validate({
        rules: {
            password: {
                required: true
            },
            username: {
                required: true,
            }

        },
        messages: {
            password: {
                required: "Please Enter Password"
            },
            username: {
                required: "Please Enter your Username"
            }
        },
    });
    </script>
</body>

</html>