{% load static %}
<link href="{% static 'eadmin/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'eadmin/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'eadmin/lib/jqvmap/jqvmap.min.css' %}" rel="stylesheet">
<link href="{% static 'eadmin/lib/select2/css/select2.min.css' %}" rel="stylesheet">
<!-- DashForge CSS -->
<link rel="stylesheet" href="{% static 'eadmin/assets/css/dashforge.css' %}">
<link rel="stylesheet" href="{% static 'eadmin/assets/css/dashforge.dashboard.css' %}">

<link href="{% static 'eadmin/lib/typicons.font/typicons.css' %}" rel="stylesheet">
<link href="{% static 'eadmin/lib/prismjs/themes/prism-vs.css' %}" rel="stylesheet">
<!-- <link href="{% static 'eadmin/assets/css/custom.css' %}" rel="stylesheet"> -->
<link href="{% static 'eadmin/lib/summernote/components.css' %}" rel="stylesheet" />
<link href="{% static 'eadmin/lib/summernote/summernote.css' %}" rel="stylesheet" />
<link href="{% static 'eadmin/lib/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'eadmin/lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'eadmin/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'eadmin/assets/css/dashforge.demo.css' %}">
<link rel="stylesheet" href="{% static 'eadmin/assets/css/custome.css' %}">