{% load static %}
<header class="navbar navbar-header navbar-header-fixed">
  <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
  <div class="navbar-brand">
    <a href="/eadmin" class="df-logo"><img src="{% static 'eadmin/assets/img/ss_logo.jpg' %}" alt="Ecommerce" class="logo" style="width:50px;height:50px"></a>
  </div><!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="/eadmin" class="df-logo"><img src="{% static 'eadmin/assets/img/ss_logo.jpg' %}" alt="Ecommerce" class="logo" style="width:50px;height:50px"></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div><!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <li class="nav-item {% if menu == 'home'%}active{% endif %}"><a href="/eadmin/" class="nav-link"><i data-feather="box"></i>Home</a></li>
      <li class="nav-item"><a href="category/add" class="nav-link"><i data-feather="box"></i>Category</a></li>
      <li class="nav-item"><a href="product/add" class="nav-link"><i data-feather="box"></i>Product</a></li>
    </ul>
  </div><!-- navbar-menu-wrapper -->
  <div class="navbar-right">
    <div class="dropdown dropdown-profile">
      <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
        <div class="avatar avatar-sm"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
      </a><!-- dropdown-link -->
      <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
        <h6 class="tx-semibold mg-b-5">{{username}}</h6>
        <a href="#" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i data-feather="settings"></i>Change Password</a>
        <a href="/eadmin/logout" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- navbar-right -->
</header><!-- navbar -->